/* remove default tab colors */


.tab-background {
   border: transparent !important;
   background: transparent;
   color: transparent;
   opacity: 0.0;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab {
   border-radius: 0 !important;
   min-height: 24px !important;
   max-height: 24px !important;
   border: transparent !important;
   margin-left: 1px !important;
   margin-right: 1px !important;
   /*border-top: 1px solid #878787 !important;
   border-left: 1px solid #878787 !important;
   margin-right: 4px !important;
   box-shadow: 2px 2px 2px #000 !important;*/
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
   border-top: 1px solid #202020 !important;
   border-left: 1px solid #202020 !important;
   border-right: 1px solid #202020 !important;
   box-shadow: 0px -2px 4px #202020 !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
   border-top: 1px solid #202020 !important;
   border-left: 1px solid #202020 !important;
   border-right: 1px solid #202020 !important;
   box-shadow: 0px -2px 4px #202020 !important;
}

.tab-content {
   color: #999 !important;
   box-shadow: 1px 1px 1px #878787 inset !important;
   background-image: linear-gradient(#404040, #101010) !important;
}

.tab-content:hover {
   color: #c0c0c0 !important;
   box-shadow: 1px 1px 2px #878787 inset !important;
   background-image: linear-gradient(#707070, #202020) !important;
}

.tab-content[selected="true"] {
   box-shadow: 1px 1px 2px #419bf7 inset !important;
   color: #419bf7 !important;
   background-image: linear-gradient(#707070, #202020) !important;
}

.tab-content[selected="true"]:hover {
   box-shadow: 1px 1px 1px #419bf7 inset !important;
   color: #419bf7 !important;
   background-image: linear-gradient(#707070, #202020) !important;
}


#tabs-newtab-button {
   margin-top: 1px !important;
   margin-left: 5px !important;
   border: 1px solid #404040 !important;
   border-top: 1px solid #707070 !important;
   box-shadow: 0px 0px 2px #404040 !important;
}

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
  display: none !important; }

.tab-icon-image {
   margin-top: -1px !important;
   margin-left: -5px !important;
   margin-right: 3px !important;
}
